
<div class="layer w-100 mB-10">
    <input type='hidden' id='dataSearchThesaurus' value="{{ app.session.get('critere_search_series')['dataSearchThesaurus'] }}"/>
    <div class="card left-align mT-10 w-100">
        <button class="card-header w-100 cur-p pulse" style='text-align: left;' id='btnThesaurus' data-hover="Cliquer pour accéder au filtre">
            <h6 class="mb-0 red-text">
                &Eacute;lément de paysage
            </h6>
        </button>
    </div>
</div>